/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* css puro */

body {
    font-family: Lato, monospace;
}


.img-fondo {
    background-image: linear-gradient(rgba(55, 58, 66, 0.75), rgba(5,7,13,0.75)),
     url(../src/img/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 20rem;
    width: 100%;
}